
    .fila-base{ display: none; } /* fila base oculta */
    .eliminar{ cursor: pointer; color: green; }



#tabla td{
  padding: 0px;
}
#tabla tbody tr{
  height: 30px;
}

    .eli{
       color:red;
       font-size: 22px;
       cursor: pointer;
    }
    .eli:hover{
       color: blue;
    }

.naa{
  border: 5px dashed #ddd;
  margin-right: 20px;
  padding-right: 0px;
}

.tb{
    border: 5px dashed #ddd;
  margin-left: 150px;

  padding-left: 20px;
  padding-right: 20px;
}